.image-upload-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: aliceblue;
  }
  h2{
    text-align: center;
    color: #ddd;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
  }
  
  label {
    margin-top: 10px;
    display: block;
  }
  
  body {
    margin: 0;
  }
  
  .home-container {
      background-color: rgb(15, 15, 22);
  }
  .title-container {
    font-family: 'Cascadia Code';
    font-weight: 800;
    font-size: larger;
    color: #ffffff;
  }
  .carousel img {
    width: 95vw;
    height: 90vh;
    object-fit: cover;
    border-radius: 10px;
  }
  nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  .title-container {
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .quotation {
    font-size: 1.5em;
    font-style: italic;
  }
  .carousel {
    width: 95vw;
    height: 93vh;
    margin: 0 auto;
    
  }
  .Location {
    position: absolute;
    bottom: -16px;
    text-align: center;
    width: 98.6%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur amount */
    padding: 10px; /* Add padding for better visibility */
    border-radius: 10px;
  }
  nav a {
    text-decoration: None;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
  }
  a:hover {
    opacity: 1;
  }
  
  