@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
body {
  margin: 0;
}
* {
  font-family: 'Space Grotesk';
}
textarea, select {
  box-shadow: 0px 5px 10px rgb(149, 143, 143);
}

